<launch>
  <!-- Spawn the iris drone -->
  <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
    <arg name="mav_name" value="iris" />
    <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
    <arg name="enable_logging" value="false" />
    <arg name="enable_ground_truth" value="true" />
    <arg name="log_file" value="iris" />
  </include>
</launch>
