<launch>
  <!-- Spawn the F450 drone -->
  
  <!-- Set Gazebo model path to include our models directory -->
  <env name="GAZEBO_MODEL_PATH" value="$(find flight_controller)/models:$(optenv GAZEBO_MODEL_PATH)" />
  
  <!-- Spawn the F450 model -->
  <node name="spawn_f450" pkg="gazebo_ros" type="spawn_model"
        args="-sdf -model f450 -file $(find flight_controller)/models/f450/model.sdf -x 0 -y 0 -z 0.5"
        output="screen" />

</launch>

