<launch>

  <include file="$(find flight_controller)/launch/freyja_controller.launch">
    <!-- Default Settings -->
    <arg name="autopilot"             value="arducopter" />
    <arg name="comm_port"             value="/dev/ttyUSB0:115200"/>
    <arg name="use_waypoint_handler"  value="false" />
    <arg name="use_velctrl_only"      value="false" />
    <arg name="enable_flatness_ff"    value="false" />
    <!-- Changed Settings -->
    <arg name="vicon_topic"           value="/vicon/SUIT/SUIT"/>
    <arg name="total_mass"            value="2.3"/>
    <arg name="thrust_scaler"         value="115"/>
    <arg name="bias_compensation"     value="auto"/>
    <arg name="use_examples"          value="true"/>
    <arg name="example_number"        value="1" />
    <arg name="start_rosbag"          value="false" />
  </include>

</launch>
